@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Oswald:wght@600&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Mooli",Georgia, 'Times New Roman', Times, serif;
}

html { 
    background: url(../imagens/what-is-a-web-developer.avif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
.cabecalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabecalho-link a{
    color: #fff;
    font-size: 12px;
}

.cabecalho-link a:hover{
    color: rebeccapurple;
    transition: 0.3s all;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

button{
    color: rebeccapurple;
     background: transparent;
     border: solid 1px rebeccapurple;
     padding: 5px;
     border-radius: 15px;
     font-size: 12px;
     width: 150px;
     cursor: pointer;
}

button:hover{
    background: rebeccapurple;
    color: #fff;
    transition: 0.5s;
}

.container-text{
    padding: 150px 0 0 130px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color:#fff;
    margin-top: 10px;
}

.text span{
    color:rebeccapurple;
}

.text p{
    color:#fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a{
    color:rebeccapurple;
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 10px;
}

.sobre{
    text-align: center;
    color: #fff;
    font-family: "Mooli" Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.sobre h1{
    text-align: center;
    padding-top: 400px;
}

.trabalho{
    text-align: center;
    color: #fff;
    font-family: "Mooli" Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.trabalho h1{
    text-align: center;
    padding-top: 400px;
}

.background-color-sobre{
    background-color: #191919;
    width: 100%;
    padding: 100px 0;
}

.background-color-sobre img{
    width: 430px;
    height: auto;
}

.text-sobre{
    width: 550px;
}

.sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1330px;
    margin: 0 auto;
    background-color: transparent;
}

.text-sobre h2{
    color: #fff;
    font-size: 75px;
    font-family: "Mooli" Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.text-sobre span{
    color:#f9004f;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    font-family: "Mooli", Georgia, 'Times New Roman', Times, serif;
}

.text-sobre h5{
    color:#fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    font-family: "Mooli", Georgia, 'Times New Roman', Times, serif;
}

.text-sobre p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.button{
    background: transparent;
    color: #fff;
    text-transform: none;
    border: 2px solid #f9004f;
    font-weight: bolder;
    padding: 13px 20px;
    font-size: 12px;
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
     
}

.button:hover{
    background-color: #f9004f;
    color: #fff;
    transition: 0.5s;
}

.trabalho{

}

#link-form{
    color: white;
}

.trabalho{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color:#fff;
    font-size: 75px;
    width: 1530px;
    margin: 30px;
    text-align: center;
}

.title p{
    color:#fff;
    font-size: 18px;
    width: 1530px;
    margin: 30px;
    text-align: center;
}

.caixa{
    display: flex;
    justify-items: center;
    text-align: center;
    min-height: 400px;
    flex-wrap: wrap;
    padding-left: 200px; 
    margin-left: auto;
    margin-right: auto; 
}

.card{
    background-color: #2e2d2d;
    height: 335px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
    font-family: "Mooli", Georgia, 'Times New Roman', Times, serif;
}

.card p{
    color: #fcfcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
